<!DOCTYPE html>
<html lang="ja" xmlns:th="http://www.thymeleaf.org">

<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>Document</title>
</head>

<body>
	<h1>レシピ管理ページ</h1>

	<form th:action="@{/logout}" method="post" style="display: inline;">
		<button type="submit">ログアウト</button>
	</form>
	<a th:href="@{/admin/recipes/new}" style="margin-left: 10px;">新規登録</a>
	<div id="table">
		<table style="margin-top: 15px" border="1">
			<tr>
				<th>ID</th>
				<th>名前</th>
				<th>カテゴリ</th>
				<th>操作</th>
			</tr>

			<tr th:each="r : ${recipes}">
				<td th:text="${r.id}"></td>
				<td th:text="${r.name}"></td>
				<td th:text="${r.category}"></td>
				<td>
					<a th:href="@{'/admin/recipes/edit/' + ${r.id}}">編集</a>

					<form th:action="@{'/admin/recipes/delete/' + ${r.id}}" method="post"
						style="display: inline; margin-left: 10px;">
						<button type="submit" onclick="return confirm('本当に削除しますか？');">削除</button>
					</form>
				</td>
			</tr>
		</table>
	</div>
</body>

</html>