<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper
	namespace="com.example.zuborarecipeapp.repository.RecipeMapper">

	<resultMap id="recipeMap"
		type="com.example.zuborarecipeapp.entity.Recipe">
		<id property="id" column="r_id" />
		<result property="name" column="name" />
		<result property="description" column="description" />
		<result property="material" column="material" />
		<result property="imagePath" column="image_Path" />
		<result property="category" column="category" />
		<collection property="iconList"
			ofType="com.example.zuborarecipeapp.entity.Icon">
			<id property="id" column="i_id" />
			<result property="iconName" column="icon_name" />
			<result property="iconPath" column="icon_path" />
		</collection>
	</resultMap>

	<select id="getAllRecipes" resultMap="recipeMap">
		select
		r.id as r_id,
		r.name,r.description, r.material, r.image_Path, r.category,
		i.id as
		i_id,i.icon_name, i.icon_path
		from zubora_recipes r left join icons i
		on r.material like concat('%', i.icon_name, '%')
		order by r.id
	</select>

	<select id="findRecipeById" resultMap="recipeMap">
		select
		r.id as r_id,r.name,
		r.description, r.material, r.image_Path, r.category,
		i.id as i_id,
		i.icon_name, i.icon_path
		from zubora_recipes r left join icons i
		on
		r.material like concat('%',i.icon_name, '%')
		where r.id=#{id}
	</select>

	<select id="findByCategory" resultMap="recipeMap">
		select
		r.id as r_id,
		r.name, r.description, r.material, r.image_Path, r.category,
		i.id as
		i_id, i.icon_name, i.icon_path
		from zubora_recipes r left join icons i
		on r.material like concat('%',i.icon_name, '%')
		where r.category =
		#{category}
		order by r.id
	</select>

	<select id="searchByFilter" resultMap="recipeMap">
		SELECT r.*, i.* FROM zubora_recipes r
		LEFT JOIN icons i ON r.material
		LIKE CONCAT('%', i.icon_name, '%')
		<where>
			<if test="category != null"> AND r.category = #{category} </if>
			<if test="iconNames != null and iconNames.size() > 0">
				AND
				<foreach item="name" collection="iconNames" open="("
					separator=" AND " close=")">
					r.material LIKE CONCAT('%', #{name}, '%')
				</foreach>
			</if>
		</where>
	</select>

	<select id="getAllIcons"
		resultType="com.example.zuborarecipeapp.entity.Icon">
		SELECT id, icon_name AS iconName, icon_path AS iconPath, middle_category AS middleCategory
		FROM icons
	</select>


<!--管理者ページ用-->
	<insert id="insert" parameterType="com.example.zuborarecipeapp.entity.Recipe">
    INSERT INTO zubora_recipes (name, description, material, image_Path, category)
    VALUES (#{name}, #{description}, #{material}, #{imagePath}, #{category})
    </insert>
   <update id="update" parameterType="com.example.zuborarecipeapp.entity.Recipe">
    UPDATE zubora_recipes 
    SET name = #{name}, 
        description = #{description}, 
        material = #{material}, 
        image_Path = #{imagePath},  
        category = #{category}
    WHERE id = #{id}
    </update>

   <delete id="delete">
    DELETE FROM zubora_recipes WHERE id = #{id}
  </delete>
</mapper>