<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper
	namespace="com.example.zuborarecipeapp.repository.RecipeMapper">
	<select id="getAllRecipes"
		resultType="com.example.zuborarecipeapp.entity.Recipe">
		SELECT r.id,r.name,r.description,r.material,r.image_path as imagePath,GROUP_CONCAT(i.icon_path SEPARATOR ',') AS iconPath from
		zubora_recipes r
        LEFT JOIN icons i ON r.material LIKE CONCAT('%', i.icon_name, '%')
        GROUP BY r.id
	</select>
	<select id="findRecipeById"
		resultType="com.example.zuborarecipeapp.entity.Recipe">
		SELECT r.id,r.name,r.description,r.material,r.image_path as imagePath,GROUP_CONCAT(i.icon_path SEPARATOR ',') AS iconPath from
		zubora_recipes r
        LEFT JOIN icons i ON r.material LIKE CONCAT('%', i.icon_name, '%') where r.id=#{id} GROUP BY r.id
	</select>
</mapper>