<!DOCTYPE html>
<html lang="ja" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="css/reset.css">
    <link rel="stylesheet" href="css/style.css">

    <title>レシピ一覧</title>
</head>

<body>
    <div class="swipe">
        <!-- レシピをループ -->
        <div class="swipe" th:each="recipe : ${recipes}">
            <div class="recipe-card">
                <!-- レシピ画像をタップしたら詳細へ -->
                <a href="tea.jpg" th:href="@{'/recipes/' + ${recipe.name}}">

                    <img src="tea.jpg" th:src="${recipe.imagePath}" class="recipe-image">
                </a>
                <!-- レシピ画像 -->
                <!-- <img th:src="${recipe.imagePath}" class="recipe-image"> -->
                <!-- レシピ名 -->
                <h2 class="recipe-title" th:text="${recipe.name}">
                期間限定TEA
                </h2>

            </div>
        </div>
    </div>
</body>

</html>